.App {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  background-color: black;
}
.submit {
  width: 12rem;
  margin-top: 16.5rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 2rem;
}
